/Delivery/Delivery-war/build/
/Delivery/Delivery-war/dist/
/Delivery/nbproject/private/
/Delivery/Delivery-war/nbproject/private/
/Delivery/Delivery-ejb/nbproject/private/
/Delivery/Delivery-ejb/build/
/Delivery/Delivery-ejb/dist/
/Delivery/build/
/Delivery/dist/
/Delivery-EJB/Delivery-EJB-ear/target/
/Delivery-EJB/Delivery-EJB-ejb/target/
/Delivery-EJB/Delivery-EJB-web/target/